# Ignore everythings by default
*
# Dependencies
!requirements/base.txt
# Airflow
!custom-prod-entrypoint.sh
!.env-base
!dags
# Airflow - Local
!dag-variables.json
# DBT
!dbt_project.yml
!dbt
!packages.yml
!package-lock.yml
!profiles.yml
