# dev-only fernet key following a schema, has been generated through
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
# this key is necessary to read and write Airflow variables, which are encrypted.
AIRFLOW__CORE__FERNET_KEY="U7sOUkZeQ6JGmwQoG6anMTdnl_nzy4f74IFkNmMeW50="

AIRFLOW__DATABASE__SQL_ALCHEMY_CONN="postgresql://postgres:password@localhost:5432/airflow"

# Environment variables for DBT and load_dump

PGHOST=localhost
PGUSER=postgres
PGPASSWORD=password
PGDATABASE=pilotage
PGPORT=5432

PROD_PGDATABASE="db_de_prod"
PROD_PGHOST="the.host.com"
PROD_PGPASSWORD="pword"
PROD_PGPORT="5432"
PROD_PGUSER="user"

AIRFLOW_VAR_COMMON_DB_PG_URI="postgresql://postgres:password@localhost:5432/common_db"
AIRFLOW_VAR_COMMON_DB_FTP_HOST="ftp_host"
AIRFLOW_VAR_COMMON_DB_FTP_USER="ftp_user"
AIRFLOW_VAR_COMMON_DB_FTP_PASSWORD="ftp_password"
