AIRFLOW_DATABASE_URL=postgresql://postgres:password@ip.du.serveur.local:5432/airflow
SECRET_KEY="some-super-secret-key"
AIRFLOW_SUPERUSER_PASSWORD="password"

PGHOST=ip.du.serveur.local
PGUSER=postgres
PGPASSWORD=password
PGDATABASE=metabase
PGPORT=5432

PROD_PGDATABASE="db_de_prod"
PROD_PGHOST="the.host.com"
PROD_PGPASSWORD="pword"
PROD_PGPORT="5432"
PROD_PGUSER="user"
