# dev-only fernet key following a schema, has been generated through
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
# this key is necessary to read and write Airflow variables, which are encrypted.
AIRFLOW__CORE__FERNET_KEY="U7sOUkZeQ6JGmwQoG6anMTdnl_nzy4f74IFkNmMeW50="

AIRFLOW__DATABASE__SQL_ALCHEMY_CONN="postgresql://postgres:password@localhost:5432/airflow"

# Environment variables for docker compose
#AIRFLOW_PORT_ON_DOCKER_HOST=8080
#POSTGRES_PORT_ON_DOCKER_HOST=5432
#MINIO_PORT_ON_DOCKER_HOST=9000
#MINIO_ADMIN_PORT_ON_DOCKER_HOST=9001

# Environment variables for DBT and load_dump
PGHOST=localhost
PGUSER=postgres
PGPASSWORD=password
PGDATABASE=pilotage
PGPORT=5432

PROD_PGDATABASE="db_de_prod"
PROD_PGHOST="the.host.com"
PROD_PGPASSWORD="pword"
PROD_PGPORT="5432"
PROD_PGUSER="user"

# Flux IAE
HASH_SALT="abcd"
DATA_SECRET_KEY=""
AIRFLOW_VAR_ASP_RIAE_UNZIP_PASSWORD=""

# Mon recap
AIRFLOW_VAR_TOKEN_API_AIRTABLE_MON_RECAP=""
AIRFLOW_VAR_BASE_ID_AIRTABLE_MON_RECAP=""

# DI
AIRFLOW_VAR_API_DATA_INCLUSION_BASE_URL=""
AIRFLOW_VAR_API_DATA_INCLUSION_TOKEN=""

# API FT
AIRFLOW_VAR_FT_API_CLIENT_ID=""
AIRFLOW_VAR_FT_API_CLIENT_SECRET=""

# Le Marche Mesure d'Impact - app streamlit
COUNT_UN_ETP=123456